# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\dbots\666 Mod\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
